@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: #e2e2e2;
  --accent: #829383;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

html, body {
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  max-width: 58.5rem;
  width: 100%;
  margin: 0 10%;
}

@layer components {
  .underlined {
    @apply underline decoration-wavy;
    text-decoration-color: var(--accent);
  }

  .hunderlined {
    @apply hover:underline decoration-wavy;
    text-decoration-color: var(--accent);
  }
}
